---
layout: post-default
title: News - Giving $10
pagination:
 enabled: true
 category: news
 indexpage: 'news'
 permalink: '/page/:num/news.html'
---

	<div class="pagetop">
			<div class="container">
				<h1><i>News</i></h1>
				<ul class="breadcrumbs">
					<li><a href="/index.html" title="">Home</a></li>
					<li>News</li>
				</ul>
			</div>
		</div>

	<section>
			<div class="block">
				<div class="container">
					<div class="row">
						{% for post in paginator.posts %}
							<div class="col-4">
							<div class="simple-post">
								<div class="simple-post-img"><img src="{{ post.post-image }}" alt="" style="max-height: 317px"/></div>
								<div class="simple-post-detail">
									<ul class="meta">
										<li>By <a href="" title>{{ post.post-author | default: site.author }}</a></li>
										<li>{{ post.date | date: "%b %-d, %Y" }}</li>
									</ul>
									{% if post.post-link %}
									 <h3><a href="{{ post.post-link }}" title="">{{ post.post-title }}</a></h3>
									{% else %}
									 <h3><a href="{{ post.url | relative_url }}" title="">{{ post.post-title }}</a></h3>
									{% endif %}
									<p>{{ post.post-summary }}</p>
									{% if post.post-link %}
									 <a class="readmore" href="{{ post.post-link }}" title="{{ post.post-title | escape }}">Read More</a>
									{% else %}
									 <a class="readmore" href="{{ post.url | relative_url }}" title="{{ post.post-title | escape }}">Read More</a>
									{% endif %}
								</div>
							</div><!-- Simple Post -->
						</div>
						{% endfor %}
					</div>
					<div class="row">

						<div class="shelter-pagination">
							<ul class="pagination">
								<li>
									{% if paginator.previous_page %}
									<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Previous</a>
									{% else %}
									<a class="previous">Previous</a>
									{% endif %}
								</li>
								{% for page in (1..paginator.total_pages) %}
								{% if page == paginator.page %}
								<li><a class="current">{{ page }}</a></li>
								{% elsif page == 1 %}
								<li><a href="{{ paginator.first_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
								{% else %}
								<li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
								{% endif %}
								{% endfor %}

								<li>
									{% if paginator.next_page %}
									<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next</a>
									{% else %}
									<a class="next ">Next</a>
									{% endif %}
								</li>
							</ul>
						</div>


						<!--
                          Showing buttons to move to the next and to the previous list of posts (pager buttons).
                        -->
					</div>
				</div>
			</div>

		</section>
