<footer>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="widget">
                        <div class="about-widget">
                            <div class="logo"><a href="#" title=""><img src="/images/logo2.png" alt="" /></a></div>
                            <p>Giving $10 is a nonprofit corporation registered in the District of Columbia. Contributions are exempt from federal income tax under Section 501(c)(3) of the Internal Revenue Code. </p>
                            <!--
                            <form class="newsletter-form">
                                <input type="text" placeholder="Enter Your E-mail" />
                                <button><i class="fa fa-paper-plane-o"></i></button>
                            </form>
                            -->
                        </div><!-- About Widget -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="widget">
                        <h3 class="widget-title">Useful Links</h3>
                        <ul>
                            <li><a href="/index.html" title="">Home</a></li>
                            <li><a href="/about.html" title="">About Us</a></li>
                            <li><a href="#" title="">Privacy Policy</a></li>
                            <li><a href="#" title="">Terms & Conditions</a></li>
                            <li><a href="https://sdgs.un.org/goals" title="">UN Development Goals</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="widget">
                        <h3 class="widget-title">Connect</h3>
                        <ul>
                            <li>2040 Tunlaw Rd., NW Washington, DC 20007</li>
                            <li>adam@giving10.org</li>
                            <li>(202) 337-3123</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="widget">
                        <h3 class="widget-title">PHOTO GALLERY</h3>
                        <div class="shelter-gallery">
                            <div class="row">
                                <div class="col-4"><a href="/photos.html" title=""><img src="/images/1a.jpg" alt=""></a></div>
                                <div class="col-4"><a href="/photos.html" title=""><img src="/images/1b.jpg" alt=""></a></div>
                                <div class="col-4"><a href="/photos.html" title=""><img src="/images/1c.jpg" alt=""></a></div>
                                <div class="col-4"><a href="/photos.html" title=""><img src="/images/2a.jpg" alt=""></a></div>
                                <div class="col-4"><a href="/photos.html" title=""><img src="/images/2b.jpg" alt=""></a></div>
                                <div class="col-4"><a href="/photos.html" title=""><img src="/images/2c.jpg" alt=""></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>

<div class="bottombar">
    <div class="container">
        <p>© 2021 Giving $10</p>
        <div class="socials">
            <a href="#" title="">Facebook</a>
            <a href="#" title="">Twitter</a>
            <a href="#" title="">Linkedin</a>
        </div>
    </div>
</div>
