<header class="transparent">
    <div class="row align-items-center">
        <div class="col-3"><div class="logo"><a href="/index.html" title=""><img src="/images/logo3.png" alt="" /></a></div></div>
        <div class="col-6">
            <nav>
                <ul>
                    <li><a href="/index.html" title="">Home</a>
                    </li>
                    <li><a href="/about.html" title="">About</a>
                        <ul>
                            <li><a href="/about.html" title="">About</a></li>
                            <li><a href="/annual.html" title="">Annual Reports</a></li>
                            <li><a href="/faqs.html" title="">FAQ'S</a></li>
                        </ul>
                    </li>
                    <li><a href="/news.html" title="">News</a>
                    </li>
                    <li><a href="/projects.html" title="">Projects</a>
                        <ul>
                            <li><a href="/projects.html">Projects</a></li>
                            <li><a href="/photos.html">Project Photos</a></li>
                            <li><a href="/schools.html">Schools</a></li>
                        </ul>
                    </li>
                    <li><a href="/contact.html" title="">Contact</a>
                        <ul>
                            <li><a href="/contact.html" title="">Contact</a></li>
                            <li><a href="/volunteer.html" title="">Volunteer</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <!--
        <div class="col-3">
            <div class="shelter-search">
                <a href="#" title=""><i class="fa fa-search"></i></a>
                <form>
                    <input type="search" placeholder="Enter Your Search keywords" />
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="social-btns">
                <a class="facebook" href="#" title=""><i class="fa fa-facebook"></i></a>
                <a class="twitter" href="#" title=""><i class="fa fa-twitter"></i></a>
                <a class="pinterest" href="#" title=""><i class="fa fa-pinterest"></i></a>
            </div>
        </div>
        -->
    </div>
</header><!-- Header -->

<div class="responsive-header">
    <div class="topbar">
        <a class="top-btn" href="/donate.html" title="">How You Can Help</a>
    </div><!-- Topbar -->
    <div class="responsive-menubar">
        <div class="logo"><a href="/index.html" title=""><img src="/images/logo.png" alt="" /></a></div>

        <a class="responsive-menu-btn" href="#" title=""><i class="ion-navicon"></i></a>
    </div><!-- Responsive Menubar -->


    <div class="sideheader">
        <a class="menu-btn close" href="javascript:void(0)" title=""><i class="icon-cancel"></i></a>
        <div class="sidemenu scrollbar">
            <ul>
                <li><a href="/index.html" title="">Home</a>
                </li>
                <li><a href="/about.html" title="">About</a>
                    <ul>
                        <li><a href="/about.html" title="">About</a></li>
                        <li><a href="/annual.html" title="">Annual Reports</a></li>
                        <li><a href="/faqs.html" title="">FAQ'S</a></li>
                    </ul>
                </li>
                <li><a href="/news.html" title="">News</a>
                </li>
                <li><a href="/projects.html" title="">Projects</a>
                    <ul>
                        <li><a href="/projects.html">Projects</a></li>
                        <li><a href="/photos.html">Project Photos</a></li>
                        <li><a href="/schools.html">Schools</a></li>
                    </ul>
                </li>
                <li><a href="/contact.html" title="">Contact</a>
                    <ul>
                        <li><a href="/contact.html" title="">Contact</a></li>
                        <li><a href="/volunteer.html" title="">Volunteer</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- Sideheader -->
</div><!-- Responsive Header -->
