<aside class="col-lg-3  col-md-12 sidebar">
    <div class="widget">
        <div class="urgent-need">
            <img src="http://placehold.it/245x174" alt="" />
            <div class="urgent-text">
                <i>URGENTLY NEEDED</i>
                <h3><a href="#" title="">Make life easier for the poor</a></h3>
                <p>Saving the world, ten dollars at a time.</p>
                <a class="btn small" href="donate.html" title="">Donate Now</a>
            </div>
        </div>
    </div><!-- Widget -->
</aside>
